<div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4 ">
  @for (vm of vms(); track vm.study.id) {
  <article
    class="card  transition will-change-transform  hover:scale-[1.01] shadow-sm shadow-neutral/50 dark:shadow-white/50 hover:shadow-md
         border-0 rounded-2xl bg-white dark:bg-white/5 "
  >
    <div class="card-body p-4 sm:p-5">
      <div class="flex items-start gap-3 mb-10">
        <!-- Logo institución -->
        <div class="">
          @if (vm.institution?.logo) {
          <img
            [src]="vm.institution?.logo!"
            [alt]="vm.institution?.key | transloco"
            class="h-12 w-12 p-1 rounded-md object-contain border m-auto"
            loading="lazy"
          />
          }
          <div class="mt-2 m-auto">
            <span class="badge badge-outline">
              {{ typeLabel(vm) }}
            </span>
          </div>
        </div>

        <div class="min-w-0">
          <!-- Nombre institución (clave i18n directa) -->
          <h3 class="text-base font-semibold leading-tight truncate">
            {{ vm.institution?.key | transloco }}
          </h3>

          <!-- Título del estudio -->
          <p class="text-sm opacity-90">
            {{ titleKey(vm) | transloco }}
          </p>

          <!-- Campo (si existe) -->
          @if (fieldKey(vm); as fk) {
          <p class="text-xs opacity-70">
            {{ fk | transloco }}
          </p>
          }

          <!-- Fechas -->
          <p class="text-xs opacity-60 mt-1">
            {{ vm.study.dates.start }} – {{ vm.study.dates.end }}
          </p>

          <!-- Tipo -->
        </div>
      </div>

      <!-- Acción (opcional) -->
      @if (vm.study.pageUrl) {
      <div class=" absolute bottom-3 right-3 card-actions ">
        <a
          class="btn btn-sm btn-outline"
          [href]="vm.study.pageUrl!"
          target="_blank"
          rel="noopener noreferrer"
        >
          {{ 'buttons.go_to_web' | transloco }}
        </a>
      </div>
      }
    </div>
  </article>
  }
</div>
