<li class="list-none px-3 py-2 rounded-b-lg transition-all duration-300 transform
         hover:bg-gray-100 dark:hover:bg-gray-800
         hover:text-primary dark:hover:text-darkTextMain
         hover:scale-105 hover:font-semibold" [routerLink]="link"
  routerLinkActive="border-b-2 border-primary dark:border-white scale-105 font-semibold text-primary dark:text-darkTextMain"
  [routerLinkActiveOptions]="{ exact: true }" role="none" tabindex="0">
  <span class="text-sm block" role="menuitem">
    {{ labelKey | transloco }}
  </span>
</li>
