<page-wrapper
  [addClasses]="'flex-col items-center gap-12'"
  aria-label="About-me"
>
  <h1
    id="about-me-title"
    class="text-4xl sm:text-5xl mb-12 font-extrabold text-center text-primary dark:text-darkHighlight transition-colors"
  >
    {{ "about.title" | transloco }}
  </h1>

  <about-tabs
    [tabs]="tabTitles"
    [selectedTab]="selectedTab()"
    (selectedTabChange)="selectTab($event)"
  />

  <!-- Educación -->
  <app-subsection
    *ngIf="selectedTab() === 'education.title' && educationData().items?.length"
    [titleKey]="'education.title'"
  >
    <ul
      class="flex flex-col flex-wrap justify-center mobile:items-center gap-6"
    >
      <li
        *ngFor="let item of educationData().items; let i = index"
        class="w-full mobile:w-[359px] tablet:w-full opacity-0 animate-rFadeIn"
        [style.animationDelay]="i * 0.15 + 's'"
        [style.animationFillMode]="'forwards'"
      >
        <i-card
          [title]="item.institution"
          [subtitle]="item.degree"
          [date]="item.dates"
          [imageUrl]="item.image"
          [altText]="item.institutionUrl"
          [titleLink]="item.institutionUrl"
        />
      </li>
    </ul>
  </app-subsection>

  <!-- Experiencia -->
  <app-subsection
    *ngIf="selectedTab() === 'experience.title' && experience().items?.length"
    [titleKey]="'experience.title'"
  >
    <ul class="space-y-4">
      <li
        *ngFor="let item of experience().items; let i = index"
        class="opacity-0 animate-rFadeIn"
        [style.animationDelay]="i * 0.15 + 's'"
        [style.animationFillMode]="'forwards'"
      >
        <experience-card
          [title]="item.company"
          [titleLink]="item.companyUrl"
          [imageUrl]="item.companyLogo"
          [altText]="item.company"
          [role]="item.role"
          [dates]="item.dates"
          [tasks]="item.tasks"
          [technologyIds]="item.technologyIds"
        />
      </li>
    </ul>
  </app-subsection>

  <!-- Habilidades -->
  <app-subsection
    *ngIf="selectedTab() === 'skills.title'"
    [titleKey]="'skills.title'"
  >
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-6">
      <!-- HABILIDADES TÉCNICAS -->
      <section
        aria-labelledby="technical-skills-title"
        class="p-4 bg-secondary dark:bg-darkSecondary rounded-md shadow-md-lg shadow-black/20 dark:shadow-white/10 border border-borderLight dark:border-darkBorderLight opacity-0 animate-fade-in-up"
      >
        <header>
          <h3
            id="technical-skills-title"
            class="font-semibold mb-4 text-textMain dark:text-darkTextMain"
          >
            {{ "skills.technical.title" | transloco }}
          </h3>
        </header>

        <div class="space-y-4">
          <article *ngIf="skills().frontendLanguages.length">
            <h4
              class="text-sm font-medium text-textSoft dark:text-darkTextSoft"
            >
              {{ "skills.technical.frontendLanguagesTitle" | transloco }}
            </h4>
            <ul class="flex flex-wrap gap-2 mt-1" role="list">
              <li
                *ngFor="let tech of skills().frontendLanguages; let i = index"
                role="listitem"
                class="opacity-0 animate-rFadeIn"
                [style.animationDelay]="i * 0.1 + 's'"
                style="animation-fill-mode: forwards"
              >
                <my-chip
                  [label]="tech.label"
                  [icon]="tech.icon"
                  [addClasses]="tech.color + ' text-sm text-gray-700'"
                />
              </li>
            </ul>
          </article>

          <article *ngIf="skills().backendLanguages.length">
            <h4
              class="text-sm font-medium text-textSoft dark:text-darkTextSoft"
            >
              {{ "skills.technical.backendLanguagesTitle" | transloco }}
            </h4>
            <ul class="flex flex-wrap gap-2 mt-1" role="list">
              <li
                *ngFor="let tech of skills().backendLanguages; let i = index"
                role="listitem"
                class="opacity-0 animate-rFadeIn"
                [style.animationDelay]="i * 0.1 + 's'"
                style="animation-fill-mode: forwards"
              >
                <my-chip
                  [label]="tech.label"
                  [icon]="tech.icon"
                  [addClasses]="tech.color + ' text-sm text-gray-700'"
                />
              </li>
            </ul>
          </article>

          <article *ngIf="skills().frameworks.length">
            <h4
              class="text-sm font-medium text-textSoft dark:text-darkTextSoft"
            >
              {{ "skills.technical.frameworksTitle" | transloco }}
            </h4>
            <ul class="flex flex-wrap gap-2 mt-1" role="list">
              <li
                *ngFor="let tech of skills().frameworks; let i = index"
                role="listitem"
                class="opacity-0 animate-rFadeIn"
                [style.animationDelay]="i * 0.1 + 's'"
                style="animation-fill-mode: forwards"
              >
                <my-chip
                  [label]="tech.label"
                  [icon]="tech.icon"
                  [addClasses]="tech.color + ' text-sm text-gray-700'"
                />
              </li>
            </ul>
          </article>

          <article *ngIf="skills().tools.length">
            <h4
              class="text-sm font-medium text-textSoft dark:text-darkTextSoft"
            >
              {{ "skills.technical.toolsTitle" | transloco }}
            </h4>
            <ul class="flex flex-wrap gap-2 mt-1" role="list">
              <li
                *ngFor="let tech of skills().tools; let i = index"
                role="listitem"
                class="opacity-0 animate-rFadeIn"
                [style.animationDelay]="i * 0.1 + 's'"
                style="animation-fill-mode: forwards"
              >
                <my-chip
                  [label]="tech.label"
                  [icon]="tech.icon"
                  [addClasses]="tech.color + ' text-sm text-gray-700'"
                />
              </li>
            </ul>
          </article>

          <article *ngIf="skills().management.length">
            <h4
              class="text-sm font-medium text-textSoft dark:text-darkTextSoft"
            >
              {{ "skills.technical.managementTitle" | transloco }}
            </h4>
            <ul class="flex flex-wrap gap-2 mt-1" role="list">
              <li
                *ngFor="let tech of skills().management; let i = index"
                role="listitem"
                class="opacity-0 animate-rFadeIn"
                [style.animationDelay]="i * 0.1 + 's'"
                style="animation-fill-mode: forwards"
              >
                <my-chip
                  [label]="tech.label"
                  [icon]="tech.icon"
                  [addClasses]="tech.color + ' text-sm text-sm text-gray-700'"
                />
              </li>
            </ul>
          </article>

          <article *ngIf="skills().principles.length">
            <h4
              class="text-sm font-medium text-textSoft dark:text-darkTextSoft"
            >
              {{ "skills.technical.principlesTitle" | transloco }}
            </h4>
            <ul class="flex flex-wrap gap-2 mt-1" role="list">
              <li
                *ngFor="let tech of skills().principles; let i = index"
                role="listitem"
                class="opacity-0 animate-rFadeIn"
                [style.animationDelay]="i * 0.1 + 's'"
                style="animation-fill-mode: forwards"
              >
                <my-chip
                  [label]="tech.label"
                  [icon]="tech.icon"
                  [addClasses]="tech.color + ' text-sm text-sm text-gray-700'"
                />
              </li>
            </ul>
          </article>
        </div>
      </section>

      <!-- HABILIDADES BLANDAS -->
      <section
        aria-labelledby="soft-skills-title"
        class="p-4 bg-secondary dark:bg-darkSecondary rounded-md  shadow-md-lg shadow-black/20 dark:shadow-white/10 border border-borderLight dark:border-darkBorderLight opacity-0 animate-fade-in-up"
      >
        <header>
          <h3
            id="soft-skills-title"
            class="font-semibold mb-4 text-textMain dark:text-darkTextMain"
          >
            {{ "skills.soft.title" | transloco }}
          </h3>
        </header>
        <ul class="flex flex-wrap gap-2" role="list">
          <li
            *ngFor="let soft of softSkills(); let i = index"
            role="listitem"
            class="opacity-0 animate-rFadeIn"
            [style.animationDelay]="i * 0.1 + 's'"
            style="animation-fill-mode: forwards"
          >
            <my-chip
              [label]="soft"
              [addClasses]="'bg-white/100 dark:bg-white text-sm text-gray-700'"
            />
          </li>
        </ul>
      </section>

      <!-- IDIOMAS -->
      <section
        aria-labelledby="languages-title"
        class="p-4 bg-secondary dark:bg-darkSecondary rounded-md shadow-md-lg shadow-black/20 dark:shadow-white/10 border border-borderLight dark:border-darkBorderLight opacity-0 animate-fade-in-up"
      >
        <header>
          <h3
            id="languages-title"
            class="font-semibold mb-4 text-textMain dark:text-darkTextMain"
          >
            {{ "languages.title" | transloco }}
          </h3>
        </header>
        <ul class="flex flex-wrap gap-2" role="list">
          <li
            *ngFor="let lang of languages().items; let i = index"
            role="listitem"
            class="opacity-0 animate-rFadeIn"
            [style.animationDelay]="i * 0.1 + 's'"
            style="animation-fill-mode: forwards"
          >
            <my-chip
              [label]="lang"
              [addClasses]="
                'bg-green-200/80 dark:bg-green-200 text-sm text-gray-700'
              "
            />
          </li>
        </ul>
      </section>
    </div>
  </app-subsection>
</page-wrapper>
