<!-- src\app\pages\home\home.component.html -->

<page-wrapper [addClasses]="'items-center justify-center'" aria-label="home">
  <div
    class="flex flex-col-reverse md:flex-row items-center justify-between gap-12 w-full max-w-7xl z-10 px-4"
  >
    <div class="text-center md:text-left space-y-6 w-full md:w-1/2">
      <ng-container *ngIf="showTypewriters()">
        <typewriter-text
          [text]="greeting()"
          [start]="true"
          [key]="typewriterKey()"
          class="text-3xl sm:text-4xl font-extrabold tracking-tight text-primary dark:text-white"
          [tag]="'h1'"
          [onFinish]="onFirstTypingFinish.bind(this)"
        >
        </typewriter-text>

        <typewriter-text
          [text]="description()"
          [start]="typing2Started"
          [key]="typewriterKey()"
          class="text-base sm:text-lg text-textSoft dark:text-darkTextSoft"
          [tag]="'p'"
          [typingFast]="true"
        >
        </typewriter-text>
      </ng-container>

      <p
        class="italic text-sm sm:text-base text-textSoft dark:text-darkTextSoft"
      >
        "{{ claim() }}"
      </p>

      <!-- Lenguajes Frontend -->
      <div
        class="flex flex-wrap gap-2 animate-fadeIn opacity-0 text-gray-700"
        aria-label="Frontend Languages"
        [style.animationDelay]="'0ms'"
        style="animation-fill-mode: forwards"
      >
        <my-chip
          *ngFor="let tech of techFrontend(); let i = index"
          [id]="'frontend-' + i"
          [label]="tech.label!"
          [icon]="tech.icon"
          [addClasses]="tech.color!"
        />
      </div>

      <!-- Lenguajes Backend -->
      <div
        class="flex flex-wrap gap-2 animate-fadeIn opacity-0 text-gray-700"
        aria-label="Backend Languages"
        [style.animationDelay]="'200ms'"
        style="animation-fill-mode: forwards"
      >
        <my-chip
          *ngFor="let tech of techBackend(); let i = index"
          [id]="'backend-' + i"
          [label]="tech.label!"
          [icon]="tech.icon"
          [addClasses]="tech.color!"
        />
      </div>

      <!-- Frameworks -->
      <div
        class="flex flex-wrap gap-2 animate-fadeIn opacity-0 text-gray-700"
        aria-label="Frameworks"
        [style.animationDelay]="'400ms'"
        style="animation-fill-mode: forwards"
      >
        <my-chip
          *ngFor="let tech of techFrameworks(); let i = index"
          [id]="'framework-' + i"
          [label]="tech.label!"
          [icon]="tech.icon"
          [addClasses]="tech.color!"
        />
      </div>

      <!-- Herramientas -->
      <div
        class="flex flex-wrap gap-2 animate-fadeIn opacity-0 text-gray-700"
        aria-label="Tools"
        [style.animationDelay]="'600ms'"
        style="animation-fill-mode: forwards"
      >
        <my-chip
          *ngFor="let tool of techTools(); let i = index"
          [id]="'tool-' + i"
          [label]="tool.label!"
          [icon]="tool.icon"
          [addClasses]="tool.color!"
        />
      </div>

      <!-- Gestión -->
      <div
        class="flex flex-wrap gap-2 animate-fadeIn opacity-0 text-gray-700"
        aria-label="Management"
        [style.animationDelay]="'800ms'"
        style="animation-fill-mode: forwards"
      >
        <my-chip
          *ngFor="let mgmt of techManagement(); let i = index"
          [id]="'management-' + i"
          [label]="mgmt.label!"
          [icon]="mgmt.icon"
          [addClasses]="mgmt.color!"
        />
      </div>

      <!-- Principios -->
      <div
        class="flex flex-wrap gap-2 animate-fadeIn opacity-0 text-gray-700"
        aria-label="Principles"
        [style.animationDelay]="'1000ms'"
        style="animation-fill-mode: forwards"
      >
        <my-chip
          *ngFor="let principle of techPrinciples(); let i = index"
          [id]="'principle-' + i"
          [label]="principle.label"
          [icon]="principle.icon"
          [addClasses]="principle.color!"
        />
      </div>

      <div
        class="flex flex-col sm:flex-row gap-4 justify-center md:justify-start mt-6"
      >
        <a
          routerLink="/projects"
          class="focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-primary dark:focus-visible:ring-white"
        >
          <app-button>{{ projectsBtn() }}</app-button>
        </a>
        <a
          routerLink="/contact"
          class="focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-primary dark:focus-visible:ring-white"
        >
          <app-button variant="secondary">{{ contactBtn() }}</app-button>
        </a>
        <button-menu
          [addClasses]="
            'inline-block text-center font-semibold text-sm rounded-lg px-5 py-2 transition-colors duration-300 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-primary dark:focus-visible:ring-white bg-secondary dark:bg-darkSecondary text-primary dark:text-white'
          "
        />
      </div>
    </div>

    <profile-photo
      *ngIf="true"
      src="assets/images/me/mePhoto.jpg"
      class="w-64 h-64 md:w-80 md:h-80 lg:w-96 lg:h-96 rounded-full animate-fadeInOpacity"
    >
    </profile-photo>
  </div>
</page-wrapper>
