<page-wrapper [addClasses]="'flex-col items-center gap-12'" aria-label="projects">
  <h1 id="myProjects-title"
    class="text-4xl sm:text-5xl mb-12 font-extrabold text-center text-primary dark:text-darkTextMain transition-colors">
    {{ 'myProjects.title' | transloco }}
  </h1>

  <div class="grid gird-cols-1 tablet-lg:grid-cols-2 laptop:grid-cols-3 justify-around gap-8">
    <project-card *ngFor="let project of projects()" [headerImageUrl]="project.headerImageUrl"
      [cornerImageUrl]="project.cornerImageUrl" [title]="project.name" [shortDescription]="project.shortDescription"
      [longDescription]="project.longDescription" [technologyIds]="project.technologyIds"
      [githubUrl]="project.githubUrl" [liveUrl]="project.liveUrl" [galleryImages]="project.galleryImages"
      [status]="project.status" [statusLabels]="statusLabels()" />
  </div>
</page-wrapper>
