<page-wrapper
  [addClasses]="'flex flex-col items-center gap-12 mx-auto w-full'"
  aria-label="courses"
>
  <h1
    id="courses-title"
    class="text-4xl sm:text-5xl mb-12 font-extrabold text-center text-primary dark:text-darkTextMain transition-colors"
  >
    {{ "certifications.title" | transloco }}
  </h1>

  <div
    *ngIf="courses().length > 0"
    class="grid gird-cols-1 tablet-lg:grid-cols-2 laptop:grid-cols-3  justify-center gap-8 mx-auto w-full"
  >
    <course-card
      *ngFor="let course of courses(); let i = index"
      [course]="course"
    />
  </div>

  <p *ngIf="courses().length === 0" class="text-center text-gray-500 text-lg">
    {{ "certifications.noCourses" | transloco }}
  </p>
</page-wrapper>
