<page-wrapper
  [addClasses]="'flex-col items-center gap-12'"
  aria-labelledby="references-title"
>
  <header class="text-center">
    <h1
      id="references-title"
      class="text-4xl sm:text-5xl font-extrabold text-primary dark:text-darkTextMain mb-12"
    >
      {{ "references.title" | transloco }}
    </h1>
  </header>

  <section role="list" class="w-full grid md:grid-cols-2 gap-6">
    <article
      *ngFor="let ref of combinedReferences(); let i = index"
      role="listitem"
      class="flex flex-col sm:flex-row items-center sm:items-start gap-4 rounded-lg border border-borderLight dark:border-darkBorderLight shadow-md-lg shadow-black/20 dark:shadow-white/10 p-6 bg-secondary dark:bg-gray-900 transition-colors opacity-0 animate-rFadeIn"
      [style.animationDelay]="i * 0.15 + 's'"
      [style.animationFillMode]="'forwards'"
    >

      <!-- Información -->
      <div class="text-center sm:text-left flex-1">
        <h2 class="text-xl font-bold text-textMain dark:text-darkTextMain">
          {{ ref.name }}
        </h2>
        <p class="text-sm text-gray-600 dark:text-gray-300 mb-2">
          {{ ref.role }}
        </p>

        <address class="not-italic space-y-6 text-sm">
          <p
            class="text-gray-500 dark:text-gray-400 flex items-center justify-center sm:justify-start gap-2"
          >
            <app-contact-info
              type="link"
              [value]="ref.linkedin"
              [label]="'LinkedIn'"
              [external]="true"
            >
              <svg
                icon
                class="w-5 h-5  text-primary dark:text-blue-50"
                fill="currentColor"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path
                  d="M19 0h-14c-2.76 0-5 2.24-5 5v14c0 2.761 2.24 5 5 5h14c2.76 0 5-2.239 5-5v-14c0-2.76-2.24-5-5-5zm-11 19h-3v-10h3v10zm-1.5-11.25c-.966 0-1.75-.783-1.75-1.75s.784-1.75 1.75-1.75 1.75.783 1.75 1.75-.784 1.75-1.75 1.75zm13.5 11.25h-3v-5.5c0-1.38-1.12-2.5-2.5-2.5s-2.5 1.12-2.5 2.5v5.5h-3v-10h3v1.5c.676-.94 1.787-1.5 3-1.5 2.21 0 4 1.79 4 4v6z"
                />
              </svg>
            </app-contact-info>
          </p>
          <p class="text-gray-500 dark:text-gray-400">{{ ref.contact }}</p>
        </address>
      </div>
    </article>
  </section>

  <!-- Carta de recomendación -->
  <section *ngIf="letter?.url" class="mt-24 px-4 w-full">
    <header class="text-center mb-12">
      <h2 class="text-3xl font-bold text-primary dark:text-blue-50 mb-5">
        {{ "references.letter.title" | transloco }}
      </h2>
      <p class="text-textMain dark:text-darkTextMain mt-2">
        {{ "references.letter.text" | transloco }}
      </p>
    </header>

    <figure
      class="relative mx-auto max-w-md w-full transition-all duration-300 rounded-lg opacity-0 animate-fade-in-up-lg"
    >
      <a
        [href]="letter.url"
        target="_blank"
        rel="noopener noreferrer"
        class="group focus:outline-none focus:ring-2 focus:ring-primary dark:focus:ring-darkHighlight block"
      >
        <div
          class="relative w-full aspect-[3/4] transition-all duration-300 group-hover:scale-[1.03] will-change-transform"
        >
          <img
            src="assets/images/references/recommendation-thumbnail.png"
            alt="Miniatura de la carta de recomendación"
            class="w-full h-full object-contain transition-transform duration-300"
            loading="lazy"
          />

          <!-- Icono cursor clic -->
          <div
            class="absolute bottom-3 right-6 group cursor-pointer"
            aria-hidden="true"
          >
            <div
              class="w-12 h-12 rounded-full bg-primary/70 dark:bg-blue-50 p-2 shadow-md-lg shadow-black/20 dark:shadow-white/10 transition-all duration-300 group-hover:scale-110 dark:group-hover:bg-primary/80 group-hover:bg-secondary/80"
            >
              <img
                src="assets/images/shared/click-cursor.svg"
                alt=""
                class="w-full h-full object-contain transition-all duration-300 invert dark:invert-0 group-hover:invert-0 dark:group-hover:invert"
              />
            </div>

            <div
              class="toolTip absolute bottom-full right-1/2 translate-x-1/2 mb-2 px-3 py-1 rounded-md bg-black text-white dark:bg-white dark:text-black text-xs opacity-0 group-hover:opacity-100 pointer-events-none transition-opacity duration-300"
              role="tooltip"
            >
              {{ "references.letter.linkText" | transloco }}
              <span class="sr-only">
                {{ "references.letter.linkText" | transloco }}
              </span>
            </div>
          </div>
        </div>

        <figcaption class="sr-only">
          {{ "references.letter.linkText" | transloco }}
        </figcaption>
      </a>
    </figure>
  </section>
</page-wrapper>
