<!-- src/app/portfolio/pages/projects-page/projects-page.component.html -->

<section class="mx-auto w-full max-w-6xl px-4 py-8 space-y-6  mt-14">
  <!-- Bloque: Proyectos estándar frontend -->
  <div class="space-y-3">
    <h2
      class="text-base md:text-xl font-semibold tracking-tight bg-white/60 dark:bg-white/5 backdrop-blur border border-black/10 dark:border-white/10 rounded-xl px-4 md:px-5 py-2 shadow-xs"
    >
      {{ 'titles.projects' | transloco }} · Frontend (standard)
    </h2>

    <cards-carousel ariaLabel="Frontend standard projects">
      @for (p of (frontProjects$() ?? []); track p.id) {
      <project-card carouselItem [project]="p"></project-card>
      }
    </cards-carousel>
  </div>
  <div class="divider"></div>

  <!-- Bloque: Proyectos mini frontend -->
  <div class="space-y-3">
    <h2
      class="text-base md:text-xl font-semibold tracking-tight bg-white/60 dark:bg-white/5 backdrop-blur border border-black/10 dark:border-white/10 rounded-xl px-4 md:px-5 py-2 shadow-xs"
    >
      {{ 'titles.projects' | transloco }} · Frontend (mini)
    </h2>

    <cards-carousel ariaLabel="Frontend mini projects">
      @for (p of (miniFrontProjects$() ?? []); track p.id) {
      <project-card carouselItem [project]="p"></project-card>
      }
    </cards-carousel>
  </div>
</section>
